<form>
  <label>Your Name:</label>
  {{input value=userName}}
  <label>Ask a question:</label>
  {{input value=question}}
  <label>Additional Notes</label>
  {{input value=notes}}
  <button {{action 'saveQuestion'}}>Save</button>
</form>
