<form>
  <label>Your Name:</label>
  {{input value=userName}}<br>
  <label>Ask a question:</label>
  {{input value=question}}<br>
  <label>Additional Notes</label>
  {{input value=notes}}<br>
  <button {{action 'saveQuestion'}}>Save</button>
</form>
